In [1]:
import pandas as pd
import numpy as np

In [3]:
test_data = pd.DataFrame([[1, 2, np.nan], [3, np.nan, 4],
                          [0, 1, 2]], columns=['one', 'two', 'three'])

In [9]:
test_data.isna()

     one    two  three
0  False  False   True
1  False   True  False
2  False  False  False

In [10]:
#test_data.dropna(axis=0)
test_data.fillna(-1)

   one  two  three
0    1  2.0   -1.0
1    3 -1.0    4.0
2    0  1.0    2.0

task 2.5.6                                          
Загрузите данные train.csv, найдите признак, обозначающий штат. 
Затем найдите значение, которое встречается чаще всего. 
Замените пропуски этим значением и запишите получившийся признак в переменную result.

In [20]:
#task 2.5.6
vis_data = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

In [51]:
vis_data.columns#.isna()

Index(['ticket_id', 'agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [53]:
main_state = vis_data['state'].mode()[0]
main_state

'MI'

In [54]:
result = vis_data['state'].fillna(main_city)

In [55]:
result #this is the correct answer

0         IL
1         MI
2         MI
3         MI
4         MI
          ..
250301    MI
250302    MI
250303    MI
250304    MI
250305    MI
Name: state, Length: 250306, dtype: object

In [47]:
main_city = vis_data['state'].value_counts()

In [48]:
main_city

MI    228601
CA      5020
TX      2420
FL      2237
IL      1310
SC      1304
OH       967
NY       673
MN       632
GA       535
NV       484
UT       477
PA       466
NJ       395
VA       385
NC       353
MD       349
AZ       329
ME       261
OK       248
AL       215
TN       207
WA       192
MA       182
IA       159
WI       159
OR       153
MO       151
CO       147
KY       146
IN       106
AR        82
LA        81
AK        79
UK        77
NB        77
MS        64
CT        60
DC        58
ON        51
DE        50
KS        37
RI        35
ID        33
SD        33
MT        28
NM        21
BC        17
WY        12
HI        10
NH         9
VT         7
VI         6
WV         6
QC         5
PR         5
QL         3
ND         2
BL         2
Name: state, dtype: int64