In [79]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import time, datetime

filePath = 'm8.10_EURUSD_1.csv'
data = pd.read_csv(filePath)
data['ts'] = pd.to_datetime(data.ts)
print(f'data.shape = {data.shape}')

data.head()

df = data.copy()

fig = go.Figure(data  = [go.Candlestick(
            x=df['ts'],
            open  = df['open'],
            high  = df['high'],
            low   = df['low'],
            close = df['close']
        )])

#fig.show()

data.shape = (121674, 6)

#### Задания 8.10.1 - 8.10.5

Понизьте разрешение ряда с 1 минуты до 8 часов. Результат округлите до пятого знака после запятой.
1. Агрегируйте цену open, взяв её медиану. 
Укажите результирующую цену open в момент времени 2017-01-02 16:00:00

2. Агрегируйте цену close, взяв её среднее значение.
Укажите результирующую цену сlose в момент времени 2017-01-02 16:00:00

3. Агрегируйте цену high, взяв её максимальное значение.
Укажите результирующую цену high в момент времени 2017-01-04 00:00:00

4. Агрегируйте цену low, взяв её минимальное значение.
Укажите результирующую цену low в момент времени 2017-01-04 00:00:00

5. Агрегируйте объём сделок vol, взяв половину от суммы его медианного и среднего значений.
Округлите значения до первого знака после запятой.
Укажите результирующий объём в момент времени 2017-01-05 08:00:00

In [84]:
#1 Агрегируйте цену open, взяв её медиану. Укажите результирующую цену open в момент времени 2017-01-02 16:00:00
data['ts'] = pd.to_datetime(data.ts)

df1 = df[['ts', 'open']]
conversion = {'open' : 'median'}

## downsampling будем проводить по переменной времени - ts
df1 = df1.set_index('ts')
## уменьшаем частоту данных до 8 часа, аггрегируем данные, как описано выше
df_resampled = df1.resample('8H').apply(conversion)
## возвращаем время ts из индекса в отдельную колонку
df1 = df1.reset_index()
df_resampled = df_resampled.reset_index()

df_resampleddd = df_resampled[df_resampled.ts == '2017-01-02 16:00:00']
print(f'len(df) = {len(df1)}')
print(f'len(df_resampled) = {len(df_resampleddd)}')
print(f'df_resampled price = {df_resampleddd.open}')

df_resampleddd.head()
# 1.04649 is correct

len(df) = 121674
len(df_resampled) = 1
df_resampled price = 1    1.04649
Name: open, dtype: float64

                   ts     open
1 2017-01-02 16:00:00  1.04649

In [85]:
#2 Агрегируйте цену close, взяв её среднее значение. Укажите результирующую цену сlose в момент времени 2017-01-02 16:00:00
data['ts'] = pd.to_datetime(data.ts)

df2 = df[['ts', 'close']]
conversion = {'close' : 'mean'}

## downsampling будем проводить по переменной времени - ts
df2 = df2.set_index('ts')
## уменьшаем частоту данных до 8 часа, аггрегируем данные, как описано выше
df_resampled = df2.resample('8H').apply(conversion)
## возвращаем время ts из индекса в отдельную колонку
df2 = df2.reset_index()
df_resampled = df_resampled.reset_index()

df_resampleddd = df_resampled[df_resampled.ts == '2017-01-02 16:00:00']
print(f'len(df_resampled) = {len(df_resampleddd)}')
print(f'df_resampled price = {df_resampleddd.close}')
# 1.046375 is correct

len(df_resampled) = 1
df_resampled price = 1    1.046375
Name: close, dtype: float64

In [87]:
#3 Агрегируйте цену high, взяв её максимальное значение. Укажите результирующую цену high в момент времени 2017-01-04 00:00:00
data['ts'] = pd.to_datetime(data.ts)

df3 = df[['ts', 'high']]
conversion = {'high' : 'max'}

## downsampling будем проводить по переменной времени - ts
df3 = df3.set_index('ts')
## уменьшаем частоту данных до 8 часа, аггрегируем данные, как описано выше
df_resampled = df3.resample('8H').apply(conversion)
## возвращаем время ts из индекса в отдельную колонку
df3 = df3.reset_index()
df_resampled = df_resampled.reset_index()

df_resampleddd = df_resampled[df_resampled.ts == '2017-01-04 00:00:00']
print(f'df_resampled price = {df_resampleddd.max()}')
# 1.04236 is correct

df_resampled price = ts      2017-01-04 00:00:00
high                1.04236
dtype: object

In [91]:
#4 Агрегируйте цену low, взяв её минимальное значение. Укажите результирующую цену low в момент времени 2017-01-04 00:00:00
data['ts'] = pd.to_datetime(data.ts)

df4 = df[['ts', 'low']]
conversion = {'low' : 'min'}

## downsampling будем проводить по переменной времени - ts
df4 = df4.set_index('ts')
## уменьшаем частоту данных до 8 часа, аггрегируем данные, как описано выше
df_resampled = df4.resample('8H').apply(conversion)
## возвращаем время ts из индекса в отдельную колонку
df4 = df4.reset_index()
df_resampled = df_resampled.reset_index()

df_resampleddd = df_resampled[df_resampled.ts == '2017-01-04 00:00:00']
print(f'df_resampled price = {df_resampleddd.min()}')
# 1.03898 is correct

df_resampled price = ts     2017-01-04 00:00:00
low                1.03898
dtype: object

In [102]:
#5
def myFunc(value):
    return np.round((np.median(value)+np.mean(value)) / 2, 1)

In [112]:
#5 Агрегируйте объём сделок vol, взяв половину от суммы его медианного и среднего значений. Округлите значения до первого знака после запятой. Укажите результирующий объём в момент времени 2017-01-05 08:00:00
data['ts'] = pd.to_datetime(data.ts)

df5 = df[['ts', 'vol']]
conversion = {'vol' : myFunc}

## downsampling будем проводить по переменной времени - ts
df5 = df5.set_index('ts')
## уменьшаем частоту данных до 8 часа, аггрегируем данные, как описано выше
df_resampled = df5.resample('8H').apply(conversion)
## возвращаем время ts из индекса в отдельную колонку
df5 = df5.reset_index()
df_resampled = df_resampled.reset_index()

df_resampleddd = df_resampled[df_resampled.ts == '2017-01-05 08:00:00']

print(f'df_resampled price = {df_resampleddd.vol}')
df_resampleddd.head()
# 481.3 is correct

df_resampled price = 9    481.3
Name: vol, dtype: float64

/home/dex/.local/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3372: RuntimeWarning:

Mean of empty slice.

/home/dex/.local/lib/python3.8/site-packages/numpy/core/_methods.py:170: RuntimeWarning:

invalid value encountered in double_scalars

                   ts    vol
9 2017-01-05 08:00:00  481.3

#### 8.10.6 - 8.10.8

Отфильтруйте ряд, оставив в нём лишь цены до 2017-01-03 00:00:00 включительно.

Используя те же агрегирующие функции, при помощи функции resample повысьте разрешение отфильтрованного ряда до 10 секунд.

6. Укажите количество отсутствующих данных в колонке open.

7. Используя метод pandas.Series.interpolate, линейно проинтерполируйте колонку цен открытия — open.
Укажите значение цены открытия в момент времени 2017-01-02 09:00:40, результат округлите до шестого знака после запятой.

8. Аналогично проинтерполируйте колонку цен закрытия — close. В качестве метода интерполяции используйте nearest.
Укажите значение цены закрытия в момент времени 2017-01-02 09:00:40. Результат округлите до пятого знака после запятой.

In [84]:
#6 Укажите количество отсутствующих данных в колонке open.
data['ts'] = pd.to_datetime(data.ts)

df6 = df[['ts', 'open']]
conversion = {'open' : 'median'}

## downsampling будем проводить по переменной времени - ts
df6 = df6.set_index('ts')
## уменьшаем частоту данных до 8 часа, аггрегируем данные, как описано выше
df_resampled = df6.resample('8H').apply(conversion)
## возвращаем время ts из индекса в отдельную колонку
df6 = df6.reset_index()
df_resampled = df_resampled.reset_index()

df_resampleddd = df_resampled[df_resampled.ts <= '2017-01-03']
print(f'len(df) = {len(df1)}')
print(f'len(df_resampled) = {len(df_resampleddd)}')
print(f'df_resampled price = {df_resampleddd.open}')

df_resampleddd.head()
# 1.04649 is correct

len(df) = 121674
len(df_resampled) = 1
df_resampled price = 1    1.04649
Name: open, dtype: float64

                   ts     open
1 2017-01-02 16:00:00  1.04649

In [20]:
df = data.copy()
df = df[df.ts < '2017-01-02']
df0 = df.set_index('ts')
downsampled = df0.resample('8H').apply({"open":"median",
                                "close":"mean",
                                "high":"max",
                                "low": "min",
                                "vol": lambda v: np.round((np.median(v)+np.mean(v)) / 2, 1)})
downsampled.open.median()#interpolate("median")[:10]

nan

In [36]:
#Запустите следующий код:

df = data.copy()
df = df[(df.ts >= '2017-01-05 12:00:00') & (df.ts <= '2017-01-05 13:00:00')]
df['unixtime'] = df.ts.astype(np.int64)

fig = go.Figure(data  = [go.Candlestick(
            x=df['ts'],
            open  = df['open'],
            high  = df['high'],
            low   = df['low'],
            close = df['close']
        )])

# fig.show()

# df.head()

/tmp/ipykernel_16859/1747227067.py:5: FutureWarning:

casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [ ]:
#6
df = df[df.ts <= ‘2017-01-03’] 


#Все остальное при df = df[df.ts < ‘2017-01-04’]

In [27]:
df_resampled2['close']=df_resampled2['close'].interpolate(method='nearest')
df_resampled2

NameError: name 'df_resampled2' is not defined

In [16]:
#8
df = data.copy()
df = df[df.ts <= '2017-01-03']
df0 = df.set_index('ts')
df1 = df0.resample('10S').apply({"open":"median",
                                "close":"mean",
                                "high":"max",
                                "low": "min",
                                "vol": lambda v: np.round((np.median(v)+np.mean(v)) / 2, 1)})
df1.close.interpolate("nearest")[:10]

/home/dex/.local/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3372: RuntimeWarning:

Mean of empty slice.

/home/dex/.local/lib/python3.8/site-packages/numpy/core/_methods.py:170: RuntimeWarning:

invalid value encountered in double_scalars

ts
2017-01-02 09:00:00    1.05187
2017-01-02 09:00:10    1.05187
2017-01-02 09:00:20    1.05187
2017-01-02 09:00:30    1.05187
2017-01-02 09:00:40    1.05168
2017-01-02 09:00:50    1.05168
2017-01-02 09:01:00    1.05168
2017-01-02 09:01:10    1.05168
2017-01-02 09:01:20    1.05168
2017-01-02 09:01:30    1.05168
Freq: 10S, Name: close, dtype: float64

#### Задание 8.10.9

При помощи функции np.linspace создайте сетку, состоящую из 135 точек во времени (используя колонку unixtime). После чего, используя функцию np.interp, проинтерполируйте значения колонки close на созданной сетке.

Укажите среднее значение интерполированного ряда, округлив его до шестого знака после запятой.