In [1]:
import pandas as pd
import numpy as np

In [3]:
test_data = pd.DataFrame([[1, 2, np.nan], [3, np.nan, 4],
                          [0, 1, 2]], columns=['one', 'two', 'three'])

In [4]:
test_data.isna()

     one    two  three
0  False  False   True
1  False   True  False
2  False  False  False