In [16]:
#Для решения заданий будут необходимы следующие пакеты:

import pandas as pd
import numpy as np
import surprise
import apyori

In [ ]:
#Если библиотеки surprise и apyori не установлены, воспользуйтесь менеджером пакетов pip:

! pip install surprise
! pip install apyori

In [26]:
#И датасет из библиотеки surprise:

data = surprise.Dataset.load_builtin("ml-100k")

trainingSet = data.build_full_trainset()
testSet = trainingSet.build_testset()

#### Задание 9.10.1

Найдите количество пользователей в trainingSet

In [27]:
df = pd.DataFrame(data.raw_ratings)
df.columns = ['user_id', 'movie_id', 'rating', 3]
df.user_id.nunique()
#943 is correct

943

#### Задание 9.10.2
Найдите количество items в trainingSet

In [25]:
df.movie_id.nunique()
#1682 is correct

1682

#### Задание 9.10.3
Проведите тренировку алгоритма user-based коллаборативной фильтрации KNNBasic и алгоритма SVD.

Постройте рекомендации testset c использованием двух алгоритмов, натренированных выше. Выведите предсказание под 8-ым индексом. В качестве ответ укажите id рекомендованного фильма.

In [38]:
#https://surprise.readthedocs.io/en/stable/knn_inspired.html
from surprise import KNNBasic

# 'name' : The name of the similarity to use, as defined in the similarities module.
sim_options = {'name': 'cosine','user_based': True} #Compute the cosine similarity between all pairs of users (or items).

knn = KNNBasic(sim_options=sim_options)

knn.fit(trainingSet)
knn_predictions = knn.test(testSet)
knn_predictions[8]

Computing the cosine similarity matrix...
Done computing similarity matrix.

Prediction(uid='196', iid='663', r_ui=5.0, est=4.475491686108841, details={'actual_k': 40, 'was_impossible': False})

In [39]:
from surprise import SVD

#Задаём наш алгоритм и формируем обучающую выборку:
svd=SVD()
trainingSet=data.build_full_trainset()

#Тренируем наш алгоритм:
svd.fit(trainingSet)

#Далее мы уже можем получить предсказание:
testSet=trainingSet.build_testset()
svd_predictions=svd.test(testSet)
svd_predictions[8]

Prediction(uid='196', iid='663', r_ui=5.0, est=4.329099810705593, details={'was_impossible': False})

In [40]:
#663 is correct
#iid - film id

#### Задание 9.10.4
Рассчитайте метрику качества RMSE для предсказаний через функцию surprise.accuracy.rmse() для обоих обученных ранее алгоритмов. В качестве ответа укажите значение RMSE для того алгоритма, который дал лучший результат. Округлите ответ до двух знаков после точки-разделителя.

In [46]:
sar_knn = surprise.accuracy.rmse(knn_predictions, verbose=False)
sar_svd = surprise.accuracy.rmse(svd_predictions, verbose=False)

print(f'knn_predictions = {sar_knn}') 
print(f'svd_predictions = {sar_svd}')
print(f'RMSE for better predictions = {np.round(min(sar_knn, sar_svd), 2)}') #Lower values of RMSE indicate better fit.
#0.68 is correct

knn_predictions = 0.9012175824620821
svd_predictions = 0.6750535440409582
RMSE for better predictions = 0.68

In [103]:
#Cформируем привычный DataFrame из нашего датасета

df = pd.DataFrame(data.raw_ratings)
df.columns = ['user_id', 'movie_id', 'rating', 3]
df.head()

  user_id movie_id  rating          3
0     196      242     3.0  881250949
1     186      302     3.0  891717742
2      22      377     1.0  878887116
3     244       51     2.0  880606923
4     166      346     1.0  886397596

#### Задание 9.10.5
Сформируйте для каждого user_id текстовую строку, содержащую набор movie_id, получивших оценку 4 и выше. Используйте пробел (" ") в качестве разделителя.

Для проверки результата введите строку для user_id 100 (имелась ввиду 100 строка, если попробовать как-то так ваша_табличка['100'] ). 

Пример ответа: 61 33 160 20 202 171 265 47 222 253 113 227 90...

In [178]:
#v1
df_movies = pd.DataFrame(df[df['rating'] >= 4].groupby(['user_id'])['movie_id'].apply(lambda x: ' '.join(list(x))))
df_movies.head()

                                                  movie_id
user_id
1        61 33 160 20 202 171 265 47 222 253 113 227 90...
10       16 486 611 7 100 488 285 504 289 340 505 489 6...
100      344 355 750 302 691 316 752 313 879 300 328 12...
101      405 121 24 284 50 237 181 924 257 742 255 117 ...
102      195 307 89 202 186 183 98 208 510 50 101 588 1...

In [180]:
#v2
#Из полученного датасета возьмём только те записи, у которых наивысший рейтинг > 4 и объединим их по "user_id". 
#Фильмы сгруппируем в строчку с разделителем "пробел" так, чтобы для каждого пользователя была строка с ID тех фильмов, которые ему понравились:
good = df[df['rating'] >= 4].groupby('user_id')['movie_id'].apply(lambda r: ' '.join([str(A) for A in r]))
good['100']
#344 355 750 302 691 316 752 313 879 300 328 1235 690 347 269 258 900 294 272 751 898 315 is correct

'344 355 750 302 691 316 752 313 879 300 328 1235 690 347 269 258 900 294 272 751 898 315'

#### Задание 9.10.6
Используя алгоритм apyori из модуля apyori, рассчитайте ассоциативные правила для полученного набора фильмов с положительными оценками. Будем считать, что хороший рейтинг — это когда оценка >= 4. Используйте следующие ограничения:

    минимальный Support 0.2;
    минимальное значение Confidence 0.3;
    минимальное значение Lift 2;
    минимальная длина 2.

Сколько правил получилось?

In [155]:
import apyori

In [181]:
data = surprise.Dataset.load_builtin("ml-100k")
df = pd.DataFrame(data.raw_ratings)
df.columns = ['user_id', 'movie_id', 'rating', 3]
# df_movies = pd.DataFrame(df[df['rating'] >= 4].groupby(['user_id'])['movie_id'].apply(lambda x: ' '.join(list(x))))
good = df[df['rating'] >= 4].groupby('user_id')['movie_id'].apply(lambda r: ' '.join([str(A) for A in r]))
print(good.head())

association_rules = apyori.apriori(good.apply(lambda r: r.split(' ')), 
                                   min_support=0.2, 
                                   min_confidence=0.3, min_lift=2, 
                                   min_length=2)

user_id
1      61 33 160 20 202 171 265 47 222 253 113 227 90...
10     16 486 611 7 100 488 285 504 289 340 505 489 6...
100    344 355 750 302 691 316 752 313 879 300 328 12...
101    405 121 24 284 50 237 181 924 257 742 255 117 ...
102    195 307 89 202 186 183 98 208 510 50 101 588 1...
Name: movie_id, dtype: object

In [157]:
association_rules

In [158]:
asr_df = pd.DataFrame(columns = ['from', 'to', 'confidence', 'support', 'lift'])
for item in association_rules:
    pair = item[0] 
    items = [x for x in pair]
    asr_df.loc[len(asr_df), :] =  ' '.join(list(item[2][0][0])), \
                                  ' '.join(list(item[2][0][1])),\
                                  item[2][0][2], item[1], item[2][0][3]

In [159]:
asr_df

  from       to confidence   support      lift
0  172      174   0.819113  0.254777  2.217253
1  173      174   0.762097  0.200637  2.062917
2  174      195   0.548851   0.20276  2.382568
3  174      204   0.543103  0.200637  2.177036
4  174      210   0.563218  0.208068  2.257667
5  174       79   0.591954  0.218684    2.1122
6  172  181 174   0.651877   0.20276  2.658304
7  172   50 174    0.78157    0.2431  2.512761
8  172   181 50   0.750853  0.233546  2.026658
9  174    98 50   0.577586  0.213376  2.125337

In [160]:
print(f'asr_df.nunique = {len(asr_df)}')
#10 is correct answer

asr_df.nunique = 10

#### Задание 9.10.7
Какой фильм чаще всего встречается в ассоциативных правилах? Укажите id фильма.

In [191]:
import statistics 
from statistics import mode

print(mode(asr_df.to))
#174 is correct answer

174

In [197]:
asr_df.columns
print(mode(asr_df['from']))

174

In [189]:
# asr_df.sort_values('from')

  from       to confidence   support      lift
0  172      174   0.819113  0.254777  2.217253
6  172  181 174   0.651877   0.20276  2.658304
7  172   50 174    0.78157    0.2431  2.512761
8  172   181 50   0.750853  0.233546  2.026658
1  173      174   0.762097  0.200637  2.062917
2  174      195   0.548851   0.20276  2.382568
3  174      204   0.543103  0.200637  2.177036
4  174      210   0.563218  0.208068  2.257667
5  174       79   0.591954  0.218684    2.1122
9  174    98 50   0.577586  0.213376  2.125337